<div class="container mt-5">
    <app-header></app-header>
    <div class="row mt-5"> 
      <div class="col-12">
          <h2>Listado de Canciones</h2>
      </div>
        <div class="col-12 col-md-6  mt-5">
            <div *ngFor="let item of songs; let i = index;" >
                <div class="alert alert-primary" role="alert" *ngIf="item.title != null">
                    {{ item.title }}
                    <i class="bi bi-play-fill float-right" (click)="item.listening = true"></i>
                    <div class="alert alert-success mt-5" role="alert" *ngIf="item.listening">
                        Escuchando ...
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="!songs">
            Este album no tiene canciones
        </div>  
    </div>
</div>