<div class="container mt-5">
    <app-header></app-header>
    <div class="row mt-5"> 
      <div class="col-12 col-md-6 ">
          <h2>Listado de artistas</h2>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of music; let i = index;" >
              {{ item.artist }}
              <span class="badge badge-primary badge-pill" [routerLink]="['/albumes',i]"  > Álbumes: {{ item.albums.length }}</span>
            </li>
        </ul>
      </div>
    </div>
</div>